@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 860px) {
    .home {
        flex-direction: column-reverse;
    }

    .home-text {
        padding: 2rem;
        text-align: center;
    }

    .home-input {
        padding-left: 0.5rem;
        width: fit-content;
        margin: auto;
    }


}